header {
  .navigation {
    height: 5rem;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 2rem;
    }

    &__menu-icon {
      font-size: 4rem;
    }

    &__menu {
      position: absolute;
      border: 2px solid white;
      background-color: black;
      height: 100vh;
      width: 100%;
      color: white;
      top: 0;
      right: 0;
      // display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;
      display: none;

      li {
        font-size: 2rem;
        margin: 1rem;
      }
    }
  }
}
